
#  Python cache files
mars/__pycache__/
*.pyc

#  Cython stuff
*.c
*.so
mars/cython_lib/*.html

#  IO files
*.npy
*.vti
*.lprof
*.txt
*.png
*.tab
*.vtr

#  Mac file system stuff
.DS_Store

#  analysis logs
*log
*prof
